# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env / Secrets
.env
backend/.env
firebase_key.json
backend/firebase_key.json

# Logs
*.log

# Local files
products.json
backend/products.json

# Tests local
backend/test_zenrows.py