.env
backend/.env
firebase_key.json
backend/firebase_key.json

__pycache__/
*/__pycache__/
*.pyc

.venv/
venv/
backend/.venv/
backend/venv/

debug/
backend/debug/

products.json
backend/products.json

data/*.txt
data/impact_*
backend/data/*.txt
backend/data/impact_*

.env

firebase_key.json

*.json

data/

backend/data/

__pycache__/

*.pyc

.env.*
